{
	"fall-o0": (
		keyframes: KeyframesRange((start: 0, end: 2)),
		duration: 0.11111111,
	),
	"fall-o1": (
		keyframes: KeyframesRange((start: 2, end: 4)),
		duration: 0.11111111,
	),
	"fall-o2": (
		keyframes: KeyframesRange((start: 4, end: 6)),
		duration: 0.11111111,
	),
	"fall-o3": (
		keyframes: KeyframesRange((start: 6, end: 8)),
		duration: 0.11111111,
	),
	"fall-o4": (
		keyframes: KeyframesRange((start: 8, end: 10)),
		duration: 0.11111111,
	),
	"fall-o5": (
		keyframes: KeyframesRange((start: 10, end: 12)),
		duration: 0.11111111,
	),
	"fall-o6": (
		keyframes: KeyframesRange((start: 12, end: 14)),
		duration: 0.11111111,
	),
	"fall-o7": (
		keyframes: KeyframesRange((start: 14, end: 16)),
		duration: 0.11111111,
	),
	"fall_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 10)),
		duration: 0.5555556,
	),
	"fall_recover-o1": (
		keyframes: KeyframesRange((start: 10, end: 20)),
		duration: 0.5555556,
	),
	"fall_recover-o2": (
		keyframes: KeyframesRange((start: 20, end: 30)),
		duration: 0.5555556,
	),
	"fall_recover-o3": (
		keyframes: KeyframesRange((start: 30, end: 40)),
		duration: 0.5555556,
	),
	"fall_recover-o4": (
		keyframes: KeyframesRange((start: 40, end: 50)),
		duration: 0.5555556,
	),
	"fall_recover-o5": (
		keyframes: KeyframesRange((start: 50, end: 60)),
		duration: 0.5555556,
	),
	"fall_recover-o6": (
		keyframes: KeyframesRange((start: 60, end: 70)),
		duration: 0.5555556,
	),
	"fall_recover-o7": (
		keyframes: KeyframesRange((start: 70, end: 80)),
		duration: 0.5555556,
	),
	"idle-o0": (
		keyframes: KeyframesRange((start: 0, end: 21)),
		duration: 1.1666666,
	),
	"idle-o1": (
		keyframes: KeyframesRange((start: 21, end: 42)),
		duration: 1.1666666,
	),
	"idle-o2": (
		keyframes: KeyframesRange((start: 42, end: 63)),
		duration: 1.1666666,
	),
	"idle-o3": (
		keyframes: KeyframesRange((start: 63, end: 84)),
		duration: 1.1666666,
	),
	"idle-o4": (
		keyframes: KeyframesRange((start: 84, end: 105)),
		duration: 1.1666666,
	),
	"idle-o5": (
		keyframes: KeyframesRange((start: 105, end: 126)),
		duration: 1.1666666,
	),
	"idle-o6": (
		keyframes: KeyframesRange((start: 126, end: 147)),
		duration: 1.1666666,
	),
	"idle-o7": (
		keyframes: KeyframesRange((start: 147, end: 168)),
		duration: 1.1666666,
	),
	"punch-o0": (
		keyframes: KeyframesRange((start: 0, end: 16)),
		duration: 0.8888889,
		events: {
			13: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "punch-o0",
				)
			},
		},
	),
	"punch-o1": (
		keyframes: KeyframesRange((start: 16, end: 32)),
		duration: 0.8888889,
		events: {
			13: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "punch-o1",
				)
			},
		},
	),
	"punch-o2": (
		keyframes: KeyframesRange((start: 32, end: 48)),
		duration: 0.8888889,
		events: {
			13: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "punch-o2",
				)
			},
		},
	),
	"punch-o3": (
		keyframes: KeyframesRange((start: 48, end: 64)),
		duration: 0.8888889,
		events: {
			13: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "punch-o3",
				)
			},
		},
	),
	"punch-o4": (
		keyframes: KeyframesRange((start: 64, end: 80)),
		duration: 0.8888889,
		events: {
			13: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "punch-o4",
				)
			},
		},
	),
	"punch-o5": (
		keyframes: KeyframesRange((start: 80, end: 96)),
		duration: 0.8888889,
		events: {
			13: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "punch-o5",
				)
			},
		},
	),
	"punch-o6": (
		keyframes: KeyframesRange((start: 96, end: 112)),
		duration: 0.8888889,
		events: {
			13: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "punch-o6",
				)
			},
		},
	),
	"punch-o7": (
		keyframes: KeyframesRange((start: 112, end: 128)),
		duration: 0.8888889,
		events: {
			13: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "punch-o7",
				)
			},
		},
	),
	"punch_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 9)),
		duration: 0.5,
	),
	"punch_recover-o1": (
		keyframes: KeyframesRange((start: 9, end: 18)),
		duration: 0.5,
	),
	"punch_recover-o2": (
		keyframes: KeyframesRange((start: 18, end: 27)),
		duration: 0.5,
	),
	"punch_recover-o3": (
		keyframes: KeyframesRange((start: 27, end: 36)),
		duration: 0.5,
	),
	"punch_recover-o4": (
		keyframes: KeyframesRange((start: 36, end: 45)),
		duration: 0.5,
	),
	"punch_recover-o5": (
		keyframes: KeyframesRange((start: 45, end: 54)),
		duration: 0.5,
	),
	"punch_recover-o6": (
		keyframes: KeyframesRange((start: 54, end: 63)),
		duration: 0.5,
	),
	"punch_recover-o7": (
		keyframes: KeyframesRange((start: 63, end: 72)),
		duration: 0.5,
	),
	"run-o0": (
		keyframes: KeyframesRange((start: 0, end: 12)),
		duration: 0.6666667,
	),
	"run-o1": (
		keyframes: KeyframesRange((start: 12, end: 24)),
		duration: 0.6666667,
	),
	"run-o2": (
		keyframes: KeyframesRange((start: 24, end: 36)),
		duration: 0.6666667,
	),
	"run-o3": (
		keyframes: KeyframesRange((start: 36, end: 48)),
		duration: 0.6666667,
	),
	"run-o4": (
		keyframes: KeyframesRange((start: 48, end: 60)),
		duration: 0.6666667,
	),
	"run-o5": (
		keyframes: KeyframesRange((start: 60, end: 72)),
		duration: 0.6666667,
	),
	"run-o6": (
		keyframes: KeyframesRange((start: 72, end: 84)),
		duration: 0.6666667,
	),
	"run-o7": (
		keyframes: KeyframesRange((start: 84, end: 96)),
		duration: 0.6666667,
	),
	"spinning_back_kick-o0": (
		keyframes: KeyframesRange((start: 0, end: 19)),
		duration: 1.0555556,
		events: {
			15: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "spinning_back_kick-o0",
				)
			},
		},
	),
	"spinning_back_kick-o1": (
		keyframes: KeyframesRange((start: 19, end: 38)),
		duration: 1.0555556,
		events: {
			15: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "spinning_back_kick-o1",
				)
			},
		},
	),
	"spinning_back_kick-o2": (
		keyframes: KeyframesRange((start: 38, end: 57)),
		duration: 1.0555556,
		events: {
			15: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "spinning_back_kick-o2",
				)
			},
		},
	),
	"spinning_back_kick-o3": (
		keyframes: KeyframesRange((start: 57, end: 76)),
		duration: 1.0555556,
		events: {
			15: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "spinning_back_kick-o3",
				)
			},
		},
	),
	"spinning_back_kick-o4": (
		keyframes: KeyframesRange((start: 76, end: 95)),
		duration: 1.0555556,
		events: {
			15: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "spinning_back_kick-o4",
				)
			},
		},
	),
	"spinning_back_kick-o5": (
		keyframes: KeyframesRange((start: 95, end: 114)),
		duration: 1.0555556,
		events: {
			15: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "spinning_back_kick-o5",
				)
			},
		},
	),
	"spinning_back_kick-o6": (
		keyframes: KeyframesRange((start: 114, end: 133)),
		duration: 1.0555556,
		events: {
			15: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "spinning_back_kick-o6",
				)
			},
		},
	),
	"spinning_back_kick-o7": (
		keyframes: KeyframesRange((start: 133, end: 152)),
		duration: 1.0555556,
		events: {
			15: {
				"rantoni::assets::events::SpawnHitboxEvent": (
					msg: "spinning_back_kick-o7",
				)
			},
		},
	),
	"spinning_back_kick_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 8)),
		duration: 0.44444445,
	),
	"spinning_back_kick_recover-o1": (
		keyframes: KeyframesRange((start: 8, end: 16)),
		duration: 0.44444445,
	),
	"spinning_back_kick_recover-o2": (
		keyframes: KeyframesRange((start: 16, end: 24)),
		duration: 0.44444445,
	),
	"spinning_back_kick_recover-o3": (
		keyframes: KeyframesRange((start: 24, end: 32)),
		duration: 0.44444445,
	),
	"spinning_back_kick_recover-o4": (
		keyframes: KeyframesRange((start: 32, end: 40)),
		duration: 0.44444445,
	),
	"spinning_back_kick_recover-o5": (
		keyframes: KeyframesRange((start: 40, end: 48)),
		duration: 0.44444445,
	),
	"spinning_back_kick_recover-o6": (
		keyframes: KeyframesRange((start: 48, end: 56)),
		duration: 0.44444445,
	),
	"spinning_back_kick_recover-o7": (
		keyframes: KeyframesRange((start: 56, end: 64)),
		duration: 0.44444445,
	),
	"stagger-o0": (
		keyframes: KeyframesRange((start: 0, end: 2)),
		duration: 0.11111111,
	),
	"stagger-o1": (
		keyframes: KeyframesRange((start: 2, end: 4)),
		duration: 0.11111111,
	),
	"stagger-o2": (
		keyframes: KeyframesRange((start: 4, end: 6)),
		duration: 0.11111111,
	),
	"stagger-o3": (
		keyframes: KeyframesRange((start: 6, end: 8)),
		duration: 0.11111111,
	),
	"stagger-o4": (
		keyframes: KeyframesRange((start: 8, end: 10)),
		duration: 0.11111111,
	),
	"stagger-o5": (
		keyframes: KeyframesRange((start: 10, end: 12)),
		duration: 0.11111111,
	),
	"stagger-o6": (
		keyframes: KeyframesRange((start: 12, end: 14)),
		duration: 0.11111111,
	),
	"stagger-o7": (
		keyframes: KeyframesRange((start: 14, end: 16)),
		duration: 0.11111111,
	),
	"stagger_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 4)),
		duration: 0.22222222,
	),
	"stagger_recover-o1": (
		keyframes: KeyframesRange((start: 4, end: 8)),
		duration: 0.22222222,
	),
	"stagger_recover-o2": (
		keyframes: KeyframesRange((start: 8, end: 12)),
		duration: 0.22222222,
	),
	"stagger_recover-o3": (
		keyframes: KeyframesRange((start: 12, end: 16)),
		duration: 0.22222222,
	),
	"stagger_recover-o4": (
		keyframes: KeyframesRange((start: 16, end: 20)),
		duration: 0.22222222,
	),
	"stagger_recover-o5": (
		keyframes: KeyframesRange((start: 20, end: 24)),
		duration: 0.22222222,
	),
	"stagger_recover-o6": (
		keyframes: KeyframesRange((start: 24, end: 28)),
		duration: 0.22222222,
	),
	"stagger_recover-o7": (
		keyframes: KeyframesRange((start: 28, end: 32)),
		duration: 0.22222222,
	),
	"stance_broken-o0": (
		keyframes: KeyframesRange((start: 0, end: 2)),
		duration: 0.11111111,
	),
	"stance_broken-o1": (
		keyframes: KeyframesRange((start: 2, end: 4)),
		duration: 0.11111111,
	),
	"stance_broken-o2": (
		keyframes: KeyframesRange((start: 4, end: 6)),
		duration: 0.11111111,
	),
	"stance_broken-o3": (
		keyframes: KeyframesRange((start: 6, end: 8)),
		duration: 0.11111111,
	),
	"stance_broken-o4": (
		keyframes: KeyframesRange((start: 8, end: 10)),
		duration: 0.11111111,
	),
	"stance_broken-o5": (
		keyframes: KeyframesRange((start: 10, end: 12)),
		duration: 0.11111111,
	),
	"stance_broken-o6": (
		keyframes: KeyframesRange((start: 12, end: 14)),
		duration: 0.11111111,
	),
	"stance_broken-o7": (
		keyframes: KeyframesRange((start: 14, end: 16)),
		duration: 0.11111111,
	),
	"stance_broken_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 5)),
		duration: 0.2777778,
	),
	"stance_broken_recover-o1": (
		keyframes: KeyframesRange((start: 5, end: 10)),
		duration: 0.2777778,
	),
	"stance_broken_recover-o2": (
		keyframes: KeyframesRange((start: 10, end: 15)),
		duration: 0.2777778,
	),
	"stance_broken_recover-o3": (
		keyframes: KeyframesRange((start: 15, end: 20)),
		duration: 0.2777778,
	),
	"stance_broken_recover-o4": (
		keyframes: KeyframesRange((start: 20, end: 25)),
		duration: 0.2777778,
	),
	"stance_broken_recover-o5": (
		keyframes: KeyframesRange((start: 25, end: 30)),
		duration: 0.2777778,
	),
	"stance_broken_recover-o6": (
		keyframes: KeyframesRange((start: 30, end: 35)),
		duration: 0.2777778,
	),
	"stance_broken_recover-o7": (
		keyframes: KeyframesRange((start: 35, end: 40)),
		duration: 0.2777778,
	),
}