{
	"idle-o0": (
		keyframes: KeyframesRange((start: 0, end: 40)),
		duration: 1.3333334,
	),
	"idle-o1": (
		keyframes: KeyframesRange((start: 40, end: 80)),
		duration: 1.3333334,
	),
	"idle-o2": (
		keyframes: KeyframesRange((start: 80, end: 120)),
		duration: 1.3333334,
	),
	"idle-o3": (
		keyframes: KeyframesRange((start: 120, end: 160)),
		duration: 1.3333334,
	),
	"idle-o4": (
		keyframes: KeyframesRange((start: 160, end: 200)),
		duration: 1.3333334,
	),
	"idle-o5": (
		keyframes: KeyframesRange((start: 200, end: 240)),
		duration: 1.3333334,
	),
	"idle-o6": (
		keyframes: KeyframesRange((start: 240, end: 280)),
		duration: 1.3333334,
	),
	"idle-o7": (
		keyframes: KeyframesRange((start: 280, end: 320)),
		duration: 1.3333334,
	),
	"jab-o0": (
		keyframes: KeyframesRange((start: 0, end: 18)),
		duration: 0.6,
	),
	"jab-o1": (
		keyframes: KeyframesRange((start: 40, end: 58)),
		duration: 0.6,
	),
	"jab-o2": (
		keyframes: KeyframesRange((start: 80, end: 98)),
		duration: 0.6,
	),
	"jab-o3": (
		keyframes: KeyframesRange((start: 120, end: 138)),
		duration: 0.6,
	),
	"jab-o4": (
		keyframes: KeyframesRange((start: 160, end: 178)),
		duration: 0.6,
	),
	"jab-o5": (
		keyframes: KeyframesRange((start: 200, end: 218)),
		duration: 0.6,
	),
	"jab-o6": (
		keyframes: KeyframesRange((start: 240, end: 258)),
		duration: 0.6,
	),
	"jab-o7": (
		keyframes: KeyframesRange((start: 280, end: 298)),
		duration: 0.6,
	),
	"punch-o0": (
		keyframes: KeyframesRange((start: 0, end: 35)),
		duration: 1.1666666,
	),
	"punch-o1": (
		keyframes: KeyframesRange((start: 40, end: 75)),
		duration: 1.1666666,
	),
	"punch-o2": (
		keyframes: KeyframesRange((start: 80, end: 115)),
		duration: 1.1666666,
	),
	"punch-o3": (
		keyframes: KeyframesRange((start: 120, end: 155)),
		duration: 1.1666666,
	),
	"punch-o4": (
		keyframes: KeyframesRange((start: 160, end: 195)),
		duration: 1.1666666,
	),
	"punch-o5": (
		keyframes: KeyframesRange((start: 200, end: 235)),
		duration: 1.1666666,
	),
	"punch-o6": (
		keyframes: KeyframesRange((start: 240, end: 275)),
		duration: 1.1666666,
	),
	"punch-o7": (
		keyframes: KeyframesRange((start: 280, end: 315)),
		duration: 1.1666666,
	),
	"run-o0": (
		keyframes: KeyframesRange((start: 0, end: 17)),
		duration: 0.56666666,
	),
	"run-o1": (
		keyframes: KeyframesRange((start: 40, end: 57)),
		duration: 0.56666666,
	),
	"run-o2": (
		keyframes: KeyframesRange((start: 80, end: 97)),
		duration: 0.56666666,
	),
	"run-o3": (
		keyframes: KeyframesRange((start: 120, end: 137)),
		duration: 0.56666666,
	),
	"run-o4": (
		keyframes: KeyframesRange((start: 160, end: 177)),
		duration: 0.56666666,
	),
	"run-o5": (
		keyframes: KeyframesRange((start: 200, end: 217)),
		duration: 0.56666666,
	),
	"run-o6": (
		keyframes: KeyframesRange((start: 240, end: 257)),
		duration: 0.56666666,
	),
	"run-o7": (
		keyframes: KeyframesRange((start: 280, end: 297)),
		duration: 0.56666666,
	),
}
