{
	"idle-o0": (
		keyframes: KeyframesRange((start: 0, end: 40)),
		duration: 1.3333334,
	),
	"idle-o1": (
		keyframes: KeyframesRange((start: 40, end: 80)),
		duration: 1.3333334,
	),
	"idle-o2": (
		keyframes: KeyframesRange((start: 80, end: 120)),
		duration: 1.3333334,
	),
	"idle-o3": (
		keyframes: KeyframesRange((start: 120, end: 160)),
		duration: 1.3333334,
	),
	"idle-o4": (
		keyframes: KeyframesRange((start: 160, end: 200)),
		duration: 1.3333334,
	),
	"idle-o5": (
		keyframes: KeyframesRange((start: 200, end: 240)),
		duration: 1.3333334,
	),
	"idle-o6": (
		keyframes: KeyframesRange((start: 240, end: 280)),
		duration: 1.3333334,
	),
	"idle-o7": (
		keyframes: KeyframesRange((start: 280, end: 320)),
		duration: 1.3333334,
	),
	"jab-o0": (
		keyframes: KeyframesRange((start: 0, end: 10)),
		duration: 0.33333334,
	),
	"jab-o1": (
		keyframes: KeyframesRange((start: 40, end: 50)),
		duration: 0.33333334,
	),
	"jab-o2": (
		keyframes: KeyframesRange((start: 80, end: 90)),
		duration: 0.33333334,
	),
	"jab-o3": (
		keyframes: KeyframesRange((start: 120, end: 130)),
		duration: 0.33333334,
	),
	"jab-o4": (
		keyframes: KeyframesRange((start: 160, end: 170)),
		duration: 0.33333334,
	),
	"jab-o5": (
		keyframes: KeyframesRange((start: 200, end: 210)),
		duration: 0.33333334,
	),
	"jab-o6": (
		keyframes: KeyframesRange((start: 240, end: 250)),
		duration: 0.33333334,
	),
	"jab-o7": (
		keyframes: KeyframesRange((start: 280, end: 290)),
		duration: 0.33333334,
	),
	"jab_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 9)),
		duration: 0.3,
	),
	"jab_recover-o1": (
		keyframes: KeyframesRange((start: 40, end: 49)),
		duration: 0.3,
	),
	"jab_recover-o2": (
		keyframes: KeyframesRange((start: 80, end: 89)),
		duration: 0.3,
	),
	"jab_recover-o3": (
		keyframes: KeyframesRange((start: 120, end: 129)),
		duration: 0.3,
	),
	"jab_recover-o4": (
		keyframes: KeyframesRange((start: 160, end: 169)),
		duration: 0.3,
	),
	"jab_recover-o5": (
		keyframes: KeyframesRange((start: 200, end: 209)),
		duration: 0.3,
	),
	"jab_recover-o6": (
		keyframes: KeyframesRange((start: 240, end: 249)),
		duration: 0.3,
	),
	"jab_recover-o7": (
		keyframes: KeyframesRange((start: 280, end: 289)),
		duration: 0.3,
	),
	"punch-o0": (
		keyframes: KeyframesRange((start: 0, end: 35)),
		duration: 1.1666666,
	),
	"punch-o1": (
		keyframes: KeyframesRange((start: 40, end: 75)),
		duration: 1.1666666,
	),
	"punch-o2": (
		keyframes: KeyframesRange((start: 80, end: 115)),
		duration: 1.1666666,
	),
	"punch-o3": (
		keyframes: KeyframesRange((start: 120, end: 155)),
		duration: 1.1666666,
	),
	"punch-o4": (
		keyframes: KeyframesRange((start: 160, end: 195)),
		duration: 1.1666666,
	),
	"punch-o5": (
		keyframes: KeyframesRange((start: 200, end: 235)),
		duration: 1.1666666,
	),
	"punch-o6": (
		keyframes: KeyframesRange((start: 240, end: 275)),
		duration: 1.1666666,
	),
	"punch-o7": (
		keyframes: KeyframesRange((start: 280, end: 315)),
		duration: 1.1666666,
	),
	"run-o0": (
		keyframes: KeyframesRange((start: 0, end: 19)),
		duration: 0.6333333,
	),
	"run-o1": (
		keyframes: KeyframesRange((start: 40, end: 59)),
		duration: 0.6333333,
	),
	"run-o2": (
		keyframes: KeyframesRange((start: 80, end: 99)),
		duration: 0.6333333,
	),
	"run-o3": (
		keyframes: KeyframesRange((start: 120, end: 139)),
		duration: 0.6333333,
	),
	"run-o4": (
		keyframes: KeyframesRange((start: 160, end: 179)),
		duration: 0.6333333,
	),
	"run-o5": (
		keyframes: KeyframesRange((start: 200, end: 219)),
		duration: 0.6333333,
	),
	"run-o6": (
		keyframes: KeyframesRange((start: 240, end: 259)),
		duration: 0.6333333,
	),
	"run-o7": (
		keyframes: KeyframesRange((start: 280, end: 299)),
		duration: 0.6333333,
	),
}
