{
	"axe_kick-o0": (
		keyframes: KeyframesRange((start: 0, end: 9)),
		duration: 0.3,
	),
	"axe_kick-o1": (
		keyframes: KeyframesRange((start: 30, end: 39)),
		duration: 0.3,
	),
	"axe_kick-o2": (
		keyframes: KeyframesRange((start: 60, end: 69)),
		duration: 0.3,
	),
	"axe_kick-o3": (
		keyframes: KeyframesRange((start: 90, end: 99)),
		duration: 0.3,
	),
	"axe_kick-o4": (
		keyframes: KeyframesRange((start: 120, end: 129)),
		duration: 0.3,
	),
	"axe_kick-o5": (
		keyframes: KeyframesRange((start: 150, end: 159)),
		duration: 0.3,
	),
	"axe_kick-o6": (
		keyframes: KeyframesRange((start: 180, end: 189)),
		duration: 0.3,
	),
	"axe_kick-o7": (
		keyframes: KeyframesRange((start: 210, end: 219)),
		duration: 0.3,
	),
	"axe_kick_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 8)),
		duration: 0.26666668,
	),
	"axe_kick_recover-o1": (
		keyframes: KeyframesRange((start: 30, end: 38)),
		duration: 0.26666668,
	),
	"axe_kick_recover-o2": (
		keyframes: KeyframesRange((start: 60, end: 68)),
		duration: 0.26666668,
	),
	"axe_kick_recover-o3": (
		keyframes: KeyframesRange((start: 90, end: 98)),
		duration: 0.26666668,
	),
	"axe_kick_recover-o4": (
		keyframes: KeyframesRange((start: 120, end: 128)),
		duration: 0.26666668,
	),
	"axe_kick_recover-o5": (
		keyframes: KeyframesRange((start: 150, end: 158)),
		duration: 0.26666668,
	),
	"axe_kick_recover-o6": (
		keyframes: KeyframesRange((start: 180, end: 188)),
		duration: 0.26666668,
	),
	"axe_kick_recover-o7": (
		keyframes: KeyframesRange((start: 210, end: 218)),
		duration: 0.26666668,
	),
	"front_kick-o0": (
		keyframes: KeyframesRange((start: 0, end: 7)),
		duration: 0.23333333,
	),
	"front_kick-o1": (
		keyframes: KeyframesRange((start: 30, end: 37)),
		duration: 0.23333333,
	),
	"front_kick-o2": (
		keyframes: KeyframesRange((start: 60, end: 67)),
		duration: 0.23333333,
	),
	"front_kick-o3": (
		keyframes: KeyframesRange((start: 90, end: 97)),
		duration: 0.23333333,
	),
	"front_kick-o4": (
		keyframes: KeyframesRange((start: 120, end: 127)),
		duration: 0.23333333,
	),
	"front_kick-o5": (
		keyframes: KeyframesRange((start: 150, end: 157)),
		duration: 0.23333333,
	),
	"front_kick-o6": (
		keyframes: KeyframesRange((start: 180, end: 187)),
		duration: 0.23333333,
	),
	"front_kick-o7": (
		keyframes: KeyframesRange((start: 210, end: 217)),
		duration: 0.23333333,
	),
	"front_kick_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 9)),
		duration: 0.3,
	),
	"front_kick_recover-o1": (
		keyframes: KeyframesRange((start: 30, end: 39)),
		duration: 0.3,
	),
	"front_kick_recover-o2": (
		keyframes: KeyframesRange((start: 60, end: 69)),
		duration: 0.3,
	),
	"front_kick_recover-o3": (
		keyframes: KeyframesRange((start: 90, end: 99)),
		duration: 0.3,
	),
	"front_kick_recover-o4": (
		keyframes: KeyframesRange((start: 120, end: 129)),
		duration: 0.3,
	),
	"front_kick_recover-o5": (
		keyframes: KeyframesRange((start: 150, end: 159)),
		duration: 0.3,
	),
	"front_kick_recover-o6": (
		keyframes: KeyframesRange((start: 180, end: 189)),
		duration: 0.3,
	),
	"front_kick_recover-o7": (
		keyframes: KeyframesRange((start: 210, end: 219)),
		duration: 0.3,
	),
	"idle-o0": (
		keyframes: KeyframesRange((start: 0, end: 20)),
		duration: 0.6666667,
	),
	"idle-o1": (
		keyframes: KeyframesRange((start: 30, end: 50)),
		duration: 0.6666667,
	),
	"idle-o2": (
		keyframes: KeyframesRange((start: 60, end: 80)),
		duration: 0.6666667,
	),
	"idle-o3": (
		keyframes: KeyframesRange((start: 90, end: 110)),
		duration: 0.6666667,
	),
	"idle-o4": (
		keyframes: KeyframesRange((start: 120, end: 140)),
		duration: 0.6666667,
	),
	"idle-o5": (
		keyframes: KeyframesRange((start: 150, end: 170)),
		duration: 0.6666667,
	),
	"idle-o6": (
		keyframes: KeyframesRange((start: 180, end: 200)),
		duration: 0.6666667,
	),
	"idle-o7": (
		keyframes: KeyframesRange((start: 210, end: 230)),
		duration: 0.6666667,
	),
	"jab-o0": (
		keyframes: KeyframesRange((start: 0, end: 9)),
		duration: 0.3,
	),
	"jab-o1": (
		keyframes: KeyframesRange((start: 30, end: 39)),
		duration: 0.3,
	),
	"jab-o2": (
		keyframes: KeyframesRange((start: 60, end: 69)),
		duration: 0.3,
	),
	"jab-o3": (
		keyframes: KeyframesRange((start: 90, end: 99)),
		duration: 0.3,
	),
	"jab-o4": (
		keyframes: KeyframesRange((start: 120, end: 129)),
		duration: 0.3,
	),
	"jab-o5": (
		keyframes: KeyframesRange((start: 150, end: 159)),
		duration: 0.3,
	),
	"jab-o6": (
		keyframes: KeyframesRange((start: 180, end: 189)),
		duration: 0.3,
	),
	"jab-o7": (
		keyframes: KeyframesRange((start: 210, end: 219)),
		duration: 0.3,
	),
	"jab_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 8)),
		duration: 0.26666668,
	),
	"jab_recover-o1": (
		keyframes: KeyframesRange((start: 30, end: 38)),
		duration: 0.26666668,
	),
	"jab_recover-o2": (
		keyframes: KeyframesRange((start: 60, end: 68)),
		duration: 0.26666668,
	),
	"jab_recover-o3": (
		keyframes: KeyframesRange((start: 90, end: 98)),
		duration: 0.26666668,
	),
	"jab_recover-o4": (
		keyframes: KeyframesRange((start: 120, end: 128)),
		duration: 0.26666668,
	),
	"jab_recover-o5": (
		keyframes: KeyframesRange((start: 150, end: 158)),
		duration: 0.26666668,
	),
	"jab_recover-o6": (
		keyframes: KeyframesRange((start: 180, end: 188)),
		duration: 0.26666668,
	),
	"jab_recover-o7": (
		keyframes: KeyframesRange((start: 210, end: 218)),
		duration: 0.26666668,
	),
	"punch-o0": (
		keyframes: KeyframesRange((start: 0, end: 9)),
		duration: 0.3,
	),
	"punch-o1": (
		keyframes: KeyframesRange((start: 30, end: 39)),
		duration: 0.3,
	),
	"punch-o2": (
		keyframes: KeyframesRange((start: 60, end: 69)),
		duration: 0.3,
	),
	"punch-o3": (
		keyframes: KeyframesRange((start: 90, end: 99)),
		duration: 0.3,
	),
	"punch-o4": (
		keyframes: KeyframesRange((start: 120, end: 129)),
		duration: 0.3,
	),
	"punch-o5": (
		keyframes: KeyframesRange((start: 150, end: 159)),
		duration: 0.3,
	),
	"punch-o6": (
		keyframes: KeyframesRange((start: 180, end: 189)),
		duration: 0.3,
	),
	"punch-o7": (
		keyframes: KeyframesRange((start: 210, end: 219)),
		duration: 0.3,
	),
	"punch_recover-o0": (
		keyframes: KeyframesRange((start: 0, end: 14)),
		duration: 0.46666667,
	),
	"punch_recover-o1": (
		keyframes: KeyframesRange((start: 30, end: 44)),
		duration: 0.46666667,
	),
	"punch_recover-o2": (
		keyframes: KeyframesRange((start: 60, end: 74)),
		duration: 0.46666667,
	),
	"punch_recover-o3": (
		keyframes: KeyframesRange((start: 90, end: 104)),
		duration: 0.46666667,
	),
	"punch_recover-o4": (
		keyframes: KeyframesRange((start: 120, end: 134)),
		duration: 0.46666667,
	),
	"punch_recover-o5": (
		keyframes: KeyframesRange((start: 150, end: 164)),
		duration: 0.46666667,
	),
	"punch_recover-o6": (
		keyframes: KeyframesRange((start: 180, end: 194)),
		duration: 0.46666667,
	),
	"punch_recover-o7": (
		keyframes: KeyframesRange((start: 210, end: 224)),
		duration: 0.46666667,
	),
	"roundhouse_kick-o0": (
		keyframes: KeyframesRange((start: 0, end: 30)),
		duration: 1,
	),
	"roundhouse_kick-o1": (
		keyframes: KeyframesRange((start: 30, end: 60)),
		duration: 1,
	),
	"roundhouse_kick-o2": (
		keyframes: KeyframesRange((start: 60, end: 90)),
		duration: 1,
	),
	"roundhouse_kick-o3": (
		keyframes: KeyframesRange((start: 90, end: 120)),
		duration: 1,
	),
	"roundhouse_kick-o4": (
		keyframes: KeyframesRange((start: 120, end: 150)),
		duration: 1,
	),
	"roundhouse_kick-o5": (
		keyframes: KeyframesRange((start: 150, end: 180)),
		duration: 1,
	),
	"roundhouse_kick-o6": (
		keyframes: KeyframesRange((start: 180, end: 210)),
		duration: 1,
	),
	"roundhouse_kick-o7": (
		keyframes: KeyframesRange((start: 210, end: 240)),
		duration: 1,
	),
	"run-o0": (
		keyframes: KeyframesRange((start: 0, end: 15)),
		duration: 0.5,
	),
	"run-o1": (
		keyframes: KeyframesRange((start: 30, end: 45)),
		duration: 0.5,
	),
	"run-o2": (
		keyframes: KeyframesRange((start: 60, end: 75)),
		duration: 0.5,
	),
	"run-o3": (
		keyframes: KeyframesRange((start: 90, end: 105)),
		duration: 0.5,
	),
	"run-o4": (
		keyframes: KeyframesRange((start: 120, end: 135)),
		duration: 0.5,
	),
	"run-o5": (
		keyframes: KeyframesRange((start: 150, end: 165)),
		duration: 0.5,
	),
	"run-o6": (
		keyframes: KeyframesRange((start: 180, end: 195)),
		duration: 0.5,
	),
	"run-o7": (
		keyframes: KeyframesRange((start: 210, end: 225)),
		duration: 0.5,
	),
	"stagger-o0": (
		keyframes: KeyframesRange((start: 0, end: 5)),
		duration: 0.16666667,
	),
	"stagger-o1": (
		keyframes: KeyframesRange((start: 30, end: 35)),
		duration: 0.16666667,
	),
	"stagger-o2": (
		keyframes: KeyframesRange((start: 60, end: 65)),
		duration: 0.16666667,
	),
	"stagger-o3": (
		keyframes: KeyframesRange((start: 90, end: 95)),
		duration: 0.16666667,
	),
	"stagger-o4": (
		keyframes: KeyframesRange((start: 120, end: 125)),
		duration: 0.16666667,
	),
	"stagger-o5": (
		keyframes: KeyframesRange((start: 150, end: 155)),
		duration: 0.16666667,
	),
	"stagger-o6": (
		keyframes: KeyframesRange((start: 180, end: 185)),
		duration: 0.16666667,
	),
	"stagger-o7": (
		keyframes: KeyframesRange((start: 210, end: 215)),
		duration: 0.16666667,
	),
}
